*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:	22, 66, 60;
    --secondary: 38, 114, 105;
    --accent: 255,193,7; 
    --black: 21,21,21;
    --white:252,252,252;
    --p:"Source Sans Pro", sans-serif;
    --h:"Montserrat", sans-serif;
    --h1: clamp(2.5rem, 5vw, 4rem);  /* Adjusts between 40px and 64px */
    --h2: clamp(2rem, 4vw, 3rem);    /* Adjusts between 32px and 48px */
    --h3: clamp(1.5rem, 3vw, 2.25rem); /* Adjusts between 24px and 36px */
    --h4: clamp(1.25rem, 2.5vw, 1.875rem); /* Adjusts between 20px and 30px */
    --body: clamp(1rem, 2vw, 1.125rem);  /* Adjusts between 16px and 18px */
    --label: clamp(0.875rem, 1.5vw, 1rem);  /* Adjusts between 14px and 16px */
    --link: clamp(1rem, 2vw, 1.125rem);  /* Adjusts between 16px and 18px */
    --small: clamp(0.75rem, 1vw, 0.875rem);  /* Adjusts between 12px and 14px */
  
}
.no-scroll{
    overflow: hidden;
}
/* Navigation */
body{
    /* background: linear-gradient(180deg, rgba(224,224,224,1) 27%, rgba(255,255,255,1) 54%); */
    background: url('/images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(var(--primary));
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    margin: 0;
    color: rgb(var(--white));
}
#NavBar{
    width: 100%;
    display: flex;
    background-color: rgba(var(--secondary), 0.8);
    height: 60px;
    justify-content: space-around;
    align-items: center;
    
}
#NavBar img{
    width: 300px;
    height:50px;
    margin-left: 20px;
}
#AppTitle{
    font-size: 35px;
    font-family: var(--h);
    color: rgb(var(--white));
    text-decoration: none;
    font-weight: bold;
    
    transition: 0.2s ease;
}
#AppTitle:hover{
    color: rgb(var(--primary));
}
#LinkContainer a{
    text-decoration: none;
    color: rgb(var(--white));
    font-size: var(--label);
    padding: 12px;
    margin-inline:5px;
    font-weight: bold;
    font-family: var(--h);
    border-radius: 20px;
    transition: 0.3s ease;
}
.LinkActive{
    background-color: rgba(var(--primary),0.3);
    border-radius: 20px;
}
#LinkContainer a:hover{
    cursor: pointer;
    color: rgba(var(--primary), 1);
}

#linkContainer{
    display: flex;
    justify-content: space-between;
}
#BarBtn{
    font-size:30px;
    color: rgb(var(--white));
    display: none;
    margin-right: 20px;
    cursor: pointer;
}
.RegisterBtn{
    width: 100px;
    height: 40px;
    background-color: rgba(var(--primary), 0.3);
    border: 3px solid rgb(var(--accent));
    color: rgb(var(--accent));
    font-weight: bold;
    border-radius: 20px;
    transition: 0.3s ease;
}
.RegisterBtn:hover{
    scale: 95%;
    background-color: rgba(var(--primary),0.9);
    border: none;
    color: rgb(var(--white));
}
#BarBtn:hover{
    color:rgb(var(--primary));
}
#XBtn{
    font-size: 30px;
    color: var(--white);
    display: none;
    margin-right: 20px;
    cursor: pointer;
}

#DropDownLinks li{
    list-style: none;
    animation: 1s ease;
    
}
 #DropDownLinks .DropDownLink{
    background-color: rgba(var(--primary), 1);
    width: 100%;
    color: var(--white);
    padding: 5px;
    border-bottom: 1px solid rgb(var(--white));
    display: block;
    text-align:center;
    transition: transform 0.3s ease, opacity 0.3s ease-in-out;
}
#DropDownLinks .DropDownLink:hover{
    color: rgb(var(--secondary));
}
#DropDownLinks .DropDownLink a{
    text-decoration: none;
    font-family: var(--h);
    font-size: 24px;
    color: var(--white);
    font-weight: bold;
    width: 100%;
}
.dropdown{
    width: 120px;
    text-overflow: ellipsis;
    height: 40px;
    background-color: rgb(var(--accent));
    border: 1px solid rgb(var(--primary));
    color: rgb(var(--primary));
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease-in-out;
}
.dropdown:hover{
    background-color: rgba(var(--accent),0.9);
    scale: 95%;
}
.Navdropdown{
    margin-inline: auto;
}

/* contents */

/* Sign In and Sign Up Container */
.OuterContainer{
    width: 100%;
    height: 100%;
    background-color: rgba(var(--black),0.8);
    color: var(--white);
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    
}
.OuterContainer.active{
    opacity: 1;
    visibility: visible;
}

.InnerContainer{
    width: 100%;
    max-width: 700px;
    
    height: auto;
    background-color: rgba(var(--secondary),1);
    border-radius: 20px;
    position: relative;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    transition: 0.3s ease;
}
.InnerContainer.active{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.SignInContainer{
    width: 100%;
    position: absolute;
    background-color: rgba(var(--secondary),1);
    border-radius: 20px;
    z-index: 4;
    transition: 0.3s ease;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
}
.SignInContainer.active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.SignUpContainer{
    width: 100%;
    position: absolute;
    background-color: rgba(var(--secondary),1);
    border-radius: 20px;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
    
}
.SignUpContainer.active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.SignUpContainer .FormContainer{
    width: calc(100% - 70px)
}
.SignUpContainer .ImageContainer{
    width: 70px;
    background-color: rgb(var(--primary));
    border-radius: 0px 20px 20px 0px;
}
.SignUpContainer .sideImages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 55px;
}
.sideImages img{
    width: 50px;
    height: 50px;
    margin-inline: auto;
    margin-top: 20px;
}
.sideImages p{
    text-align: center;
    font-size: 10px;
}
.XFormBtn{
    font-size: 15px;
    float: right;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
}
#XFormBtn:hover{
    background-color: rgba(var(--primary),0.3);
}
.SignInContainer .ImageContainer{
    width: 50%;
    background:url("/images/GeoQuest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignInContainer .FormContainer{
    width: 50%;
    border-radius: 0px 20px 20px 0px;
}

.ImageContainerHeading{
    color: rgb(var(--white));
    font-family: var(--h);
    font-size: var(--h2);
    font-weight: bold;
}
.ImageContainerDescription{
    color: rgb(var(--white));
    font-family: var(--p);
    font-size: var(--label);
    text-align: center;
}
.SignInHead{
    font-size: var(--h4);
    font-family: var(--h);
    color: rgb(var(--white));
    
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.InputContainer{
    flex-direction: column;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.InputContainer label{
    font-family: var(--p);
    color: rgb(var(--white));
    font-size:var(--label);
}
.InputContainer input{
    width: 100%;
    height: 30px;
    border: 2px solid rgba(var(--primary), 1);
    background-color: rgba(var(--primary), 0.3);
    color: white;
    padding: 3px;
}
.SignInBtn{
    width: 100px;
    background-color: rgb(var(--accent));
    color: rgb(var(--black));
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    position: relative;
    left: calc(100% - 100px);
    transition: 0.3s ease;
    margin-bottom: 20px;
}
.SignInBtn:hover{
    scale: 95%;
}
form{
    display: flex;
    flex-direction: column;
}
span{
    font-size: var(--label);
    color: rgb(var(--white));
    font-family: var(--p);
    margin-top: 5px;
}
span p{
    text-decoration: none;
    font-size: var(--label);
    color: rgb(var(--accent));
    font-family: var(--p);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
    display: inline;
}
span a:hover{
    color: rgba(var(--primary), 1);
}




footer{
    width: 100%;
    margin-top: auto;
    display: flex;
    background-color: rgba(74,111,97, 0.8);

    --mask:
    radial-gradient(67.08px at 50% 90px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% -60px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    
}
.footerContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footerContainer:nth-child(1) a{
    color: var(--white);
    text-decoration: none;
    font-size: var(--link);
    padding-top: 5px;
}
.footerContainer:nth-child(1) a:hover{
    color: rgb(var(--secondary));;
}
.footerContainer:nth-child(2) a i{
    color: var(--white);
    font-size: var(--body);
    border-radius: 50%;
    padding: 5px;
    transition: 0.3s ease;
}
.footerContainer:nth-child(2) a i:hover{
    scale: 110%;
    background-color: rgba(var(--secondary), 0.3)
    
}
.footerContainer p{
    color: var(--white);
}

#DropDownLinks {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 100%;
    right: 100%;
    padding: 0;
    top: 60px;
    transition: transform 0.3s ease, opacity 0.3s ease-in-out;
}

/* JS Classes */
#XBtn.fa-x.active {
    display: inline-block;
}
#BarBtn.fa-bars.inactive{
    display: none;
}
#XBtn.fa-x.inactive {
    display: none;
}
#BarBtn.fa-bars.active {
    display: inline-block;
}
#DropDownLinks.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(100%);
}
@media only screen and (max-width: 900px){
    #NavBar{
        justify-content: space-between;
    }
    #LinkContainer{
        display: none;
    }#BarBtn{
        display: inline-block;
    }#HideBtn{
        display: none;
    }#HideUserBtn{
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .SignInContainer .ImageContainer{
        display: none;
    }.SignInContainer .FormContainer{
        width: 100%;
    }
}
